// https://www.nextflow.io/docs/latest/executor.html#slurm

// slurm settings
process.executor = "slurm"
executor.queueSize = 1000
process.queue = "cpu"

process {
  errorStrategy = { task.attempt >= 3 ? "ignore" : "retry" }
  maxRetries = 3
}

apptainer {
  enabled = true
  cacheDir = "/vol/projects/jnourisa/seqera/apptainer_librarydir"
  libraryDir = "/vol/projects/jnourisa/seqera/apptainer_cachedir"
  pullTimeout = "2h"
  ociAutoPull = true
}

process {
  withLabel: lowmem { memory = 4.Gb }
  withLabel: lowcpu { cpus = 4 }
  withLabel: midmem { memory = 25.Gb }
  withLabel: midcpu { cpus = 4 }
  withLabel: highmem { memory = 300.Gb }
  withLabel: highcpu { cpus = 32 }
  withLabel: veryhighmem { memory = 300.Gb }
  withLabel: midtime { time = 4.h } 
  withLabel: hightime { time = 8.h } 
  withLabel: veryhightime { time = 24.h } 
  withLabel: twodaytime { time = 48.h } 

  withLabel: gpu { 
    queue = 'gpu'
    memory = 320.Gb
    cpus = 32
    clusterOptions = '--gpus-per-node=1'
    containerOptions = "--nv -B ${System.getenv('NXF_TEMP')}"
  }
}

// only head node
// JAVA_HOME=/etc/alternatives/java_sdk_21_openjdk/
// I'm pretty sure we'll need to add something like this:
// only head node
// PATH
// $JAVA_HOME/bin:$PATH
// https://www.nextflow.io/docs/edge/reference/config.html#apptainer