# mac os x
.DS_Store

# related to files
resources/
resources_test/
output/
out/
target/
local/

# related to python
.ipynb_checkpoints
__pycache__/

# ?
.$*
bin*
bin/

# related to nextflow
work
.nextflow*

# IDE related
.idea
.vscode
