# mac os x
.DS_Store



# related to files
.pybiomart.sqlite
.venv/
logs/
params*
resources*
output/
target/
out/
local/
datasets_raw/
state*
trace*
tw*
__init__*
.ipynb_checkpoints
__pycache__/

.$*
bin*
bin/

# related to nextflow
work
.nextflow*

# IDE related
.idea
.vscode
