
__merge__: ../../api/comp_metric.yaml


name: metrics_all
info:
  label: metrics_all
  summary: Calculates all metrics for a given GRN and dataset
arguments: 
  - name: --evaluation_data
    type: file
    required: true
    direction: input
  - name: --tf_all
    type: file
    direction: input
    required: true
    example: resources_test/prior/tf_all.csv
  - name: --reg_type
    type: string
    direction: input
    default: ridge
    description: name of regretion to use
    multiple: false
  - name: --subsample
    type: integer
    direction: input
    default: -1
    description: number of samples randomly drawn from perturbation data
  - name: --num_workers
    type: integer
    direction: input
    default: 4
  - name: --apply_tf
    type: boolean 
    required: false
    default: true
  - name: --apply_skeleton
    type: boolean 
    required: false
    default: false
  - name: --regulators_consensus
    type: file
    direction: input
    must_exist: false
    required: true
    example: resources_test/prior/regulators_consensus_norman.json
  - name: --static_only
    direction: input
    type: boolean
    default: true
  - name: --binarize
    type: boolean 
    direction: input 
    description: whether to binarize the weight
    default: true
  - name: --ws_consensus
    type: file
    direction: input
    must_exist: false
    required: true
    example: resources_test/prior/ws_consensus_norman.csv 
  - name: --ws_distance_background
    type: file
    direction: input
    must_exist: false
    required: true
    example: resources_test/prior/ws_distance_background_norman.csv
  - name: --evaluation_data_sc
    type: file
    required: true
    direction: input
    example: 'resources_test/datasets_raw/adamson_sc_counts.h5ad'


  resources:
    - type: python_script
      path: script.py
    - path: /src/utils/util.py
      dest: util.py
    - path: /src/metrics/regression_1/main.py
      dest: reg1_main.py
    - path: /src/metrics/regression_2/main.py
      dest: reg2_main.py
    - path: /src/metrics/wasserstein/main.py
      dest: ws_main.py

      
platforms:
  - type: docker
    image: ghcr.io/openproblems-bio/base_python:1.0.4
    setup:
      - type: python
        packages: [ lightgbm==4.3.0, numpy==1.26.4 ]
  - type: nextflow
    directives:
      label: [ midtime, midmem, midcpu ]