functionality:
  name: "granie"
  namespace: "grn_methods"
  version: "build-main"
  arguments:
  - type: "file"
    name: "--multiomics_rna_r"
    info: null
    example:
    - "resources_test/grn-benchmark/multiomics_rna.rds"
    must_exist: true
    create_parent: true
    required: false
    direction: "input"
    multiple: false
    multiple_sep: ":"
    dest: "par"
  - type: "file"
    name: "--multiomics_atac_r"
    info: null
    example:
    - "resources_test/grn-benchmark/multiomics_atac.rds"
    must_exist: true
    create_parent: true
    required: false
    direction: "input"
    multiple: false
    multiple_sep: ":"
    dest: "par"
  - type: "file"
    name: "--prediction"
    info:
      label: "GRN"
      summary: "GRN prediction"
      file_type: "csv"
      columns:
      - name: "source"
        description: "Source of regulation"
        type: "string"
        required: true
      - name: "target"
        description: "Target of regulation"
        type: "string"
        required: true
      - name: "weight"
        description: "Weight of regulation"
        type: "float"
        required: true
    example:
    - "resources_test/grn_models/collectri.csv"
    must_exist: true
    create_parent: true
    required: false
    direction: "output"
    multiple: false
    multiple_sep: ":"
    dest: "par"
  - type: "string"
    name: "--temp_dir"
    info: null
    default:
    - "output/temdir"
    required: false
    direction: "input"
    multiple: false
    multiple_sep: ":"
    dest: "par"
  - type: "integer"
    name: "--num_workers"
    info: null
    default:
    - 4
    required: false
    direction: "input"
    multiple: false
    multiple_sep: ":"
    dest: "par"
  - type: "string"
    name: "--normRNA"
    description: "Normalization method for RNA data."
    info: null
    default:
    - "SCT"
    required: false
    direction: "input"
    multiple: false
    multiple_sep: ":"
    dest: "par"
  - type: "string"
    name: "--normATAC"
    description: "Normalization method for ATAC data."
    info: null
    default:
    - "LSI"
    required: false
    direction: "input"
    multiple: false
    multiple_sep: ":"
    dest: "par"
  - type: "string"
    name: "--LSI_featureCutoff"
    description: "Feature cutoff for LSI normalization."
    info: null
    default:
    - "q0"
    required: false
    direction: "input"
    multiple: false
    multiple_sep: ":"
    dest: "par"
  - type: "integer"
    name: "--nDimensions_ATAC"
    description: "Number of dimensions for ATAC modality"
    info: null
    default:
    - 50
    required: false
    direction: "input"
    multiple: false
    multiple_sep: ":"
    dest: "par"
  - type: "string"
    name: "--integrationMethod"
    description: "Method used for data integration."
    info: null
    default:
    - "WNN"
    required: false
    direction: "input"
    multiple: false
    multiple_sep: ":"
    dest: "par"
  - type: "integer"
    name: "--WNN_knn"
    description: "Number of nearest neighbors for WNN integration."
    info: null
    default:
    - 20
    required: false
    direction: "input"
    multiple: false
    multiple_sep: ":"
    dest: "par"
  - type: "integer"
    name: "--minCellsPerCluster"
    description: "Minimum number of cells required per cluster."
    info: null
    default:
    - 25
    required: false
    direction: "input"
    multiple: false
    multiple_sep: ":"
    dest: "par"
  - type: "integer"
    name: "--preprocessing_clusteringMethod"
    description: "Seurat::FindClusters: Clustering method to use (1 = original Louvain\
      \ algorithm, 2 = Louvain algorithm with multilevel refinement, 3 = SLM algorithm,\
      \ 4 = Leiden algorithm)."
    info: null
    default:
    - 1
    required: false
    direction: "input"
    multiple: false
    multiple_sep: ":"
    dest: "par"
  - type: "double"
    name: "--preprocessing_clusterResolution"
    description: "Resolution for clustering, typically between 5 and 20."
    info: null
    default:
    - 14.0
    required: false
    direction: "input"
    multiple: false
    multiple_sep: ":"
    dest: "par"
  - type: "integer"
    name: "--preprocessing_RNA_nDimensions"
    description: "Number of dimensions for RNA reduction, default is 50."
    info: null
    default:
    - 50
    required: false
    direction: "input"
    multiple: false
    multiple_sep: ":"
    dest: "par"
  - type: "string"
    name: "--genomeAssembly"
    description: "Genome assembly version (e.g., hg38). Currently, hg38 and mm10 is\
      \ supported."
    info: null
    default:
    - "hg38"
    required: false
    direction: "input"
    multiple: false
    multiple_sep: ":"
    dest: "par"
  - type: "string"
    name: "--GRaNIE_corMethod"
    description: "Correlation method used in GRaNIE (e.g., 'spearman')."
    info: null
    default:
    - "spearman"
    required: false
    direction: "input"
    multiple: false
    multiple_sep: ":"
    dest: "par"
  - type: "boolean"
    name: "--GRaNIE_includeSexChr"
    description: "Include sex chromosomes in analysis."
    info: null
    default:
    - true
    required: false
    direction: "input"
    multiple: false
    multiple_sep: ":"
    dest: "par"
  - type: "integer"
    name: "--GRaNIE_promoterRange"
    description: "Range in base pairs for maximum distance of peak-gene connections\
      \ (default is 250000)."
    info: null
    default:
    - 250000
    required: false
    direction: "input"
    multiple: false
    multiple_sep: ":"
    dest: "par"
  - type: "double"
    name: "--GRaNIE_TF_peak_fdr_threshold"
    description: "FDR threshold for TF-peak connections (default is 0.2)."
    info: null
    default:
    - 0.2
    required: false
    direction: "input"
    multiple: false
    multiple_sep: ":"
    dest: "par"
  - type: "double"
    name: "--GRaNIE_peak_gene_fdr_threshold"
    description: "FDR threshold for peak-gene connections (default is 0.2)."
    info: null
    default:
    - 0.2
    required: false
    direction: "input"
    multiple: false
    multiple_sep: ":"
    dest: "par"
  - type: "boolean"
    name: "--useWeightingLinks"
    description: "Flag to indicate whether to use weighting links in analysis."
    info: null
    default:
    - false
    required: false
    direction: "input"
    multiple: false
    multiple_sep: ":"
    dest: "par"
  - type: "boolean"
    name: "--forceRerun"
    description: "Flag to force rerun of the analysis regardless of existing results."
    info: null
    default:
    - false
    required: false
    direction: "input"
    multiple: false
    multiple_sep: ":"
    dest: "par"
  - type: "boolean"
    name: "--subset"
    description: "Flag for testing purposes to subset the data for faster running\
      \ times"
    info: null
    default:
    - false
    required: false
    direction: "input"
    multiple: false
    multiple_sep: ":"
    dest: "par"
  resources:
  - type: "r_script"
    path: "script.R"
    is_executable: true
  test_resources:
  - type: "python_script"
    path: "src/common/component_tests/run_and_check_output.py"
    is_executable: true
  - type: "file"
    path: "resources_test/grn-benchmark"
    dest: "resources_test/grn-benchmark"
  info:
    label: "granie"
    summary: "GRN inference using GRaNIE"
    description: "GRN inference using GRaNIE\n"
    documentation_url: "https://grp-zaugg.embl-community.io/GRaNIE/"
    type: "methods_r"
    type_info:
      label: "Method r"
      summary: "A GRN inference method"
      description: "A method for inferring GRN from expression data.\n"
  status: "enabled"
  set_wd_to_resources_dir: false
platforms:
- type: "docker"
  id: "docker"
  image: "chrarnold84/granieverse:v1.3"
  target_organization: "openproblems-bio/task_grn_inference"
  target_registry: "ghcr.io"
  namespace_separator: "/"
  resolve_volume: "Automatic"
  chown: true
  setup_strategy: "ifneedbepullelsecachedbuild"
  target_image_source: "https://github.com/openproblems-bio/task_grn_inference"
  entrypoint: []
  cmd: null
- type: "native"
  id: "native"
- type: "nextflow"
  id: "nextflow"
  directives:
    label:
    - "midtime"
    - "midmem"
    - "midcpu"
    tag: "$id"
  auto:
    simplifyInput: true
    simplifyOutput: false
    transcript: false
    publish: false
  config:
    labels:
      lowmem: "memory = 20.Gb"
      midmem: "memory = 50.Gb"
      highmem: "memory = 100.Gb"
      lowcpu: "cpus = 5"
      midcpu: "cpus = 15"
      highcpu: "cpus = 30"
      lowtime: "time = 1.h"
      midtime: "time = 4.h"
      hightime: "time = 8.h"
      onedaytime: "time = 24.h"
      threedaystime: "time = 72.h"
      oneweektime: "time = 168.h"
    script:
    - "process.errorStrategy = 'ignore'"
  debug: false
  container: "docker"
info:
  config: "/home/runner/work/task_grn_inference/task_grn_inference/src/methods/multi_omics/granie/config.vsh.yaml"
  platform: "docker"
  output: "/home/runner/work/task_grn_inference/task_grn_inference/target/docker/grn_methods/granie"
  executable: "/home/runner/work/task_grn_inference/task_grn_inference/target/docker/grn_methods/granie/granie"
  viash_version: "0.8.6"
  git_commit: "ca5efb98538b804ed2cb43c1ac9311c3a72c77fc"
  git_remote: "https://github.com/openproblems-bio/task_grn_inference"
