__merge__: ../../api/comp_metric.yaml


name: ws_distance
namespace: "metrics"
info:
  label: Wasserstein distance metrics 
  summary: Calculates Wasserstein distance for a given GRN and dataset
  description: |
    Calculates Wasserstein distance for a given GRN and dataset
  metrics:
    - name: ws-theta-0.0
      label: WS (precision)
      summary: Captures the perfomance for the top regulatory links
      description: |
        Captures the perfomance for the top regulatory links
      min: 0
      max: 1
      maximize: true
    - name: ws-theta-0.5
      label: WS (balanced)
      summary: Balanced performance scores considering both prevision and recall 
      description: |
        Balanced performance scores considering both prevision and recall
      min: 0
      max: 1
      maximize: true
    - name: ws-theta-1.0
      label: WS (recall)
      summary: Captures the perfomance for the more broad regulatory links (recall)
      description: |
        Captures the perfomance for the more broad regulatory links (recall)
      min: 0
      max: 1
      maximize: true

arguments:
  - name: --ws_consensus
    type: file
    direction: input
    must_exist: false
    required: false
    example: resources_test/grn_benchmark/prior/ws_consensus_norman.csv 
  - name: --ws_distance_background
    type: file
    direction: input
    must_exist: false
    required: false
    example: resources_test/grn_benchmark/prior/ws_distance_background_norman.csv
  - name: --silent_missing_dependencies 
    type: boolean
    required: false
    direction: input
    default: true
  
resources:
  - type: python_script
    path: script.py
  - path: /src/utils/util.py
    dest: util.py
  - path: helper.py
  
engines:
  - type: docker
    image: ghcr.io/openproblems-bio/base_python:1.0.4
    __merge__: /src/api/base_requirements.yaml
    setup:
      - type: python
        packages: [numpy==1.26.4 ]
runners:
  - type: executable
  - type: nextflow
    directives:
      label: [ midtime, midmem, midcpu ]