__merge__: ../../api/comp_metric.yaml
functionality:
  name: regression_1
  namespace: "metrics"
  info:
    label: Regression 1
    summary: Calculates R2 score for regression 1
    description: |
      Calculates R2 score using regression approach 1.
  resources:
    - type: python_script
      path: script.py
    - path: main.py
platforms:
  - type: docker
    image: ghcr.io/openproblems-bio/base_python:1.0.4
    setup:
      - type: python
        packages: [ lightgbm ]
  - type: nextflow
    directives:
      label: [ midtime, highmem, highcpu ]