__merge__: ../../api/comp_metric_regression.yaml

name: regression_1
namespace: "metrics"
info:
  label: regression_1
  summary: Calculates regression scores 1
  description: |
    Calculates regression scores 1
  metrics:
    - name: r1_all
      label: R1 (all)
      summary: Regression 1 score for all genes with mean gene expression set for missing genes
      description: |
        Regression 1 score for all genes with mean gene expression set for missing genes
      min: -Inf
      max: +Inf
      maximize: true
    - name: r1_grn
      label: R1 (grn)
      summary: Regression 1 score for only genes in the network
      description: |
        Regression 1 score for only genes in the network
      min: -Inf
      max: +Inf
      maximize: true
arguments:
  - name: --binarize
    type: boolean
    direction: input
    description: whether to binarize the weight
    default: true

resources:
  - type: python_script
    path: script.py
  - path: helper.py
  - path: /src/utils/util.py
    dest: util.py

engines:
  - type: docker
    image: ghcr.io/openproblems-bio/base_python:1.0.4
    __merge__: /src/api/base_requirements.yaml
    setup:
      - type: python
        packages: [lightgbm==4.3.0, numpy==1.26.4]
runners:
  - type: executable
  - type: nextflow
    directives:
      label: [midtime, highmem, highcpu]
